## Intoduction to Scikit-Learn(Sklearn)

- An end-to-end scikit learn workflow
- Getting the data ready
- Choose the right estimator/Ml model/algorithm
- Fit the model/estimator/algorithm and use it make predictions on our data
- Evaluating the model
- Improve the model
- Save and load tained model
- Putting it all together

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## An end-to-end Scikit-learn workflow

In [2]:
# get the data

heart_disease=pd.read_csv('dataset/heart-disease.csv')

In [5]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [12]:
# create x (features matrix/independent variables) 
x=heart_disease.drop('target',axis=1)

#creating y(label/dependent variables)
y=heart_disease['target']

In [16]:
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [17]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [18]:
from sklearn.ensemble import RandomForestClassifier

clf=RandomForestClassifier()

#for knowing the default hyperparameter
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [19]:
#splitting data into train_Set and test_Set
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [20]:
len(x_train)

242

In [22]:
#fitting the train_set with the classifier
clf.fit(x_train,y_train);

In [23]:
# Making predictions using the model we've just trained
y_preds=clf.predict(x_test)

In [25]:
y_preds

array([0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0], dtype=int64)

In [27]:
# Evaluating the mode 
clf.score(x_train,y_train)

1.0

In [28]:
clf.score(x_test,y_test)

0.7704918032786885

In [29]:
# Getting detailed information about precision of your model
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.90      0.61      0.73        31
           1       0.70      0.93      0.80        30

    accuracy                           0.77        61
   macro avg       0.80      0.77      0.77        61
weighted avg       0.80      0.77      0.76        61

In [30]:
confusion_matrix(y_test,y_preds)

array([[19, 12],
       [ 2, 28]], dtype=int64)

In [31]:
accuracy_score(y_test,y_preds)

0.7704918032786885

In [45]:
# Improve a model
# Try the different amount of n_estimators (one of the default parameter)
np.random.seed(0)
for i in range(10,110,10):
    print(f'Trying model with {i} estimators')
    clf=RandomForestClassifier(n_estimators=i).fit(x_train,y_train)
    print(f'Model Accuracy on test set: {clf.score(x_test,y_test)*100:.2f}%')
    print()

Trying model with 10 estimators
Model Accuracy on test set: 80.33%

Trying model with 20 estimators
Model Accuracy on test set: 80.33%

Trying model with 30 estimators
Model Accuracy on test set: 78.69%

Trying model with 40 estimators
Model Accuracy on test set: 80.33%

Trying model with 50 estimators
Model Accuracy on test set: 78.69%

Trying model with 60 estimators
Model Accuracy on test set: 77.05%

Trying model with 70 estimators
Model Accuracy on test set: 73.77%

Trying model with 80 estimators
Model Accuracy on test set: 77.05%

Trying model with 90 estimators
Model Accuracy on test set: 75.41%

Trying model with 100 estimators
Model Accuracy on test set: 78.69%

In [46]:
# Save the model and load it

import pickle
pickle.dump(clf,open('random_forest_model_1.pkl','wb'))

In [47]:
loaded_model=pickle.load(open('random_forest_model_1.pkl','rb'))

loaded_model.score(x_test,y_test)

0.7868852459016393

## 1. Getting our data ready to be used with ml

Three main things we have to do:
    - Split the data into features and labels (usually x and y)
    - Filling (also called imputing ) missing values
    - Converting non numericals values into numerical values (feature encoding)

In [48]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [49]:
x= heart_disease.drop('target',axis=1)
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [50]:
y=heart_disease['target']
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

### 1.1- Spliting data into training and test sets

In [51]:
# In the machine learning one of the most fundamental principal is
# never elvaluate or test your model on data that it is learn from
# that's why we are splitting into training an test

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

### 1.2- Make sure all data is numerical

In [52]:
car_sales=pd.read_csv('dataset/car-sales-extended.csv')

In [53]:
len(car_sales)

1000

In [56]:
# split x and y
x=car_sales.drop('Price',axis=1)
y=car_sales['Price']

In [57]:
# splitting into training and test set
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [58]:
x.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3

In [73]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot',
                                   one_hot,
                                   categorical_features)],
                                   remainder='passthrough')

transformed_x = transformer.fit_transform(x)
transformed_x

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [74]:
x.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3

In [75]:
pd.DataFrame(transformed_x)

       0    1    2    3    4    5    6    7    8    9   10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]