## Intoduction to Scikit-Learn(Sklearn)

- An end-to-end scikit learn workflow
- Getting the data ready
- Choose the right estimator/Ml model/algorithm
- Fit the model/estimator/algorithm and use it make predictions on our data
- Evaluating the model
- Improve the model
- Save and load tained model
- Putting it all together

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## An end-to-end Scikit-learn workflow

In [2]:
# get the data

heart_disease=pd.read_csv('dataset/heart-disease.csv')

In [3]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
# create x (features matrix/independent variables) 
x=heart_disease.drop('target',axis=1)

#creating y(label/dependent variables)
y=heart_disease['target']

In [5]:
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [6]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [7]:
from sklearn.ensemble import RandomForestClassifier

clf=RandomForestClassifier()

#for knowing the default hyperparameter
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [8]:
#splitting data into train_Set and test_Set
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [9]:
len(x_train)

242

In [10]:
#fitting the train_set with the classifier
clf.fit(x_train,y_train);

In [11]:
# Making predictions using the model we've just trained
y_preds=clf.predict(x_test)

In [12]:
y_preds

array([0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0], dtype=int64)

In [13]:
# Evaluating the mode 
clf.score(x_train,y_train)

1.0

In [14]:
clf.score(x_test,y_test)

0.819672131147541

In [15]:
# Getting detailed information about precision of your model
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.83      0.74      0.78        27
           1       0.81      0.88      0.85        34

    accuracy                           0.82        61
   macro avg       0.82      0.81      0.81        61
weighted avg       0.82      0.82      0.82        61

In [16]:
confusion_matrix(y_test,y_preds)

array([[20,  7],
       [ 4, 30]], dtype=int64)

In [17]:
accuracy_score(y_test,y_preds)

0.819672131147541

In [18]:
# Improve a model
# Try the different amount of n_estimators (one of the default parameter)
np.random.seed(0)
for i in range(10,110,10):
    print(f'Trying model with {i} estimators')
    clf=RandomForestClassifier(n_estimators=i).fit(x_train,y_train)
    print(f'Model Accuracy on test set: {clf.score(x_test,y_test)*100:.2f}%')
    print()

Trying model with 10 estimators
Model Accuracy on test set: 77.05%

Trying model with 20 estimators
Model Accuracy on test set: 80.33%

Trying model with 30 estimators
Model Accuracy on test set: 77.05%

Trying model with 40 estimators
Model Accuracy on test set: 80.33%

Trying model with 50 estimators
Model Accuracy on test set: 81.97%

Trying model with 60 estimators
Model Accuracy on test set: 81.97%

Trying model with 70 estimators
Model Accuracy on test set: 81.97%

Trying model with 80 estimators
Model Accuracy on test set: 80.33%

Trying model with 90 estimators
Model Accuracy on test set: 83.61%

Trying model with 100 estimators
Model Accuracy on test set: 80.33%

In [19]:
# Save the model and load it

import pickle
pickle.dump(clf,open('random_forest_model_1.pkl','wb'))

In [20]:
loaded_model=pickle.load(open('random_forest_model_1.pkl','rb'))

loaded_model.score(x_test,y_test)

0.8032786885245902

## 1. Getting our data ready to be used with ml

Three main things we have to do:
    - Split the data into features and labels (usually x and y)
    - Converting non numericals values into numerical values (feature encoding)
    - Filling (also called imputing ) missing values

In [21]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [22]:
x= heart_disease.drop('target',axis=1)
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [23]:
y=heart_disease['target']
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

### 1.1- Spliting data into training and test sets

In [24]:
# In the machine learning one of the most fundamental principal is
# never elvaluate or test your model on data that it is learn from
# that's why we are splitting into training an test

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

### 1.2- Make sure all data is numerical

In [25]:
car_sales=pd.read_csv('dataset/car-sales-extended.csv')

In [26]:
len(car_sales)

1000

In [66]:
# split x and y
x=car_sales.drop('Price',axis=1)
y=car_sales['Price']

In [67]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [68]:

# Build machine learning model

# from sklearn.ensemble import RandomForestRegressor

# model = RandomForestRegressor()

# model.fit(x_train,y_train)
# model.score(x_test,y_test)

#machine learning model can only deal with numerical data

In [69]:
x.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3

In [70]:
# First way to convert categorical attributes into numerical attributes

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features=['Make','Colour','Doors']
one_hot=OneHotEncoder()
transformer=ColumnTransformer([('one_hot',
                               one_hot,
                                categorical_features
                               )],
                             remainder='passthrough'
                             )
transformed_x=transformer.fit_transform(x)
transformed_x

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [72]:

# Let's try refit the model
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()

np.random.seed(42)

# setting up new the training and test data
x_train, x_test, y_train, y_test = train_test_split(transformed_x,y,test_size=0.2)

# fitting the model
model.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [73]:
model.score(x_test,y_test)

0.3235867221569877

In [74]:
model.score(x_train,y_train)

0.891612713353635

In [77]:
# Another way for converting categorical data into numerical

# split x and y
x=car_sales.drop('Price',axis=1)
y=car_sales['Price']

#encoding
dummies=pd.get_dummies(car_sales[['Make','Colour','Doors']])
dummies.head()

categorical_features=['Colour']

# create training and test set
#from sklearn.model_selection import train_test_split
#x_train,y_train,

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0

In [80]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()

np.random.seed(42)

# setting up new the training and test data
x_train, x_test, y_train, y_test = train_test_split(transformed_x,y,test_size=0.2)

# fitting the model
model.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [81]:
model.score(x_test,y_test)

0.3235867221569877

In [82]:
model.score(x_train,y_train)

0.891612713353635

### What if there were missing values ?

- Fill them with some values (also known as imputation)
- Remove the samples with missing data altogether

In [113]:
# import the dataset with missing values
car_sales_missing=pd.read_csv('dataset/car-sales-extended-missing-data.csv')
car_sales_missing.head(7)

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0
5   Honda    Red        42652.0    4.0  23883.0
6  Toyota   Blue       163453.0    4.0   8473.0

In [114]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [115]:
# Lets try to encode data with missing values

# x=car_sales_missing.drop('Price',axis=1)
# y=car_sales_missing['Price']

# from sklearn.preprocessing import OneHotEncoder
# from sklearn.compose import ColumnTransformer

# categorical_features=['Make','Colour','Doors']
# one_hot=OneHotEncoder()
# transformer=ColumnTransformer([('one_hor',one_hot,categorical_features)],
#                            remainder='passthrough')
# transformed_x=transformer.fit_transform(x)
# tranformed_x

Above code will show error due to missing values

#### Option 1: Fill mising data with Pandas

In [116]:
# Fill the "Make" column
car_sales_missing['Make'].fillna('missing',inplace=True)

# Fill the "Colour" column
car_sales_missing['Colour'].fillna('missing',inplace=True)

# Fill the "Odometer (Km)" column
car_sales_missing['Odometer (KM)'].fillna(car_sales_missing['Odometer (KM)'
                                                           ].mean(),inplace=True)

# Fill the "Doors" column
car_sales_missing['Doors'].fillna(4,inplace=True)

In [117]:
car_sales_missing.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [118]:
# remove the rows with missing price value
car_sales_missing.dropna(axis=0,inplace=True)

In [119]:
car_sales_missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [120]:
# split x and y
x=car_sales_missing.drop('Price',axis=1)
y=car_sales_missing['Price']

#x['Odometer (KM)'] = x['Odometer (KM)'].astype('int')
#x['Doors'] = x['Doors'].astype('int')

#encoding the data
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features=['Make','Colour','Doors']
one_hot=OneHotEncoder()
transformer=ColumnTransformer([('one_hot',one_hot,categorical_features)],
                             remainder='passthrough')

transformed_x=transformer.fit_transform(x)

transformed_x

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [121]:
pd.DataFrame(transformed_x.toarray())

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,35431.0
1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,192714.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,84714.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,154365.0
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,181577.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,35820.0
946,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,155144.0
947,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,66604.0
948,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,215883.0
949,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,248360.0

#### Option 2: Fill missing values with scikit-learn

In [122]:
car_sales_missing=pd.read_csv('dataset/car-sales-extended-missing-data.csv')
car_sales_missing.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [123]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [125]:
car_sales_missing.dropna(subset=['Price'],inplace=True)
car_sales_missing.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [126]:
# filling missing values with Scikit-Learn
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# Fill categorical values with 'missing' and numericals values with mean 
# if the strategy is constant you have to pass fill_value
# this is saying over the categorical columns constantly fill them, if you find the missing value fill them with 'missing'
categorical_imputer = SimpleImputer(strategy='constant', fill_value='missing')
door_imputer = SimpleImputer(strategy='constant', fill_value=4)
num_imputer = SimpleImputer(strategy='mean')

# Define columns
categorical_features = ['Make','Colour']
door_feature = ['Doors']
num_feature = ['Odometer (KM)']

# create an imputer (something that fills missing data)
# ColumnTransformer - Applies transformers to columns of an array or pandas DataFrame.
imputer = ColumnTransformer([
    ('categorical_imputer',categorical_imputer,categorical_features),
    ('door_imputer',door_imputer,door_feature),
    ('num_imputer',num_imputer,num_feature)
])

filled_x = imputer.fit_transform(x)
filled_x

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], dtype=object)

In [127]:
car_sales_filled = pd.DataFrame(filled_x, columns=['Make','Colour','Doors','Odometer (KM)'])
car_sales_filled.head()

     Make Colour Doors Odometer (KM)
0   Honda  White     4         35431
1     BMW   Blue     5        192714
2   Honda  White     4         84714
3  Toyota  White     4        154365
4  Nissan   Blue     3        181577

In [128]:
car_sales_filled.isna().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [129]:
# let's try convert our data into numbers


# Turn the strings/categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot',
                                   one_hot,
                                   categorical_features)],
                                   remainder='passthrough')

transformed_x = transformer.fit_transform(car_sales_filled)
transformed_x

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [130]:
pd.DataFrame(transformed_x.toarray()).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,35431.0
1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,192714.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,84714.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,154365.0
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,181577.0

In [131]:
# Now we've got our data as numbers and filled (no missing values)
# Let's fit a model

np.random.seed(42)

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

model = RandomForestRegressor()

x_train, x_test, y_train, y_test = train_test_split(transformed_x,y,test_size=0.2)

model.fit(x_train,y_train)
model.score(x_test,y_test)

0.22011714008302485

In [132]:
model.score(x_train,y_train)

0.8847250887037676