In [1]:
import numpy as np

## Datatyps and attributes

In [2]:
##ndarray

a1=np.array([1,2,3])

In [3]:
a1

array([1, 2, 3])

In [16]:
a1.shape

(3,)

In [4]:
type(a1)

numpy.ndarray

In [5]:
a2=np.array([[1,2,3],[4,5,6]])

In [6]:
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [8]:
a2[0]

array([1, 2, 3])

In [9]:
type(a2)

numpy.ndarray

In [107]:
a3=np.array([[[1,2,3],[4,5,6],[7,8,9]]])

In [108]:
a3

array([[[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]])

In [13]:
a1.ndim,a2.ndim,a3.ndim

(1, 2, 3)

In [14]:
a1.dtype,a2.dtype,a3.dtype

(dtype('int32'), dtype('int32'), dtype('int32'))

In [18]:
a1.size,a2.size,a3.size

(3, 6, 9)

## Using array in pandas's Dataframe

In [19]:
import pandas as pd

In [26]:
df=pd.DataFrame(a2)

In [27]:
df

   0  1  2
0  1  2  3
1  4  5  6

## Creating Arrays

In [28]:
sample_array=np.array([1,2,3])

In [29]:
sample_array

array([1, 2, 3])

In [31]:
sample_array.dtype

dtype('int32')

In [32]:
ones=np.ones(5)

In [34]:
ones

array([1., 1., 1., 1., 1.])

In [39]:
ones_2=np.ones((2,3))

In [40]:
ones_2

array([[1., 1., 1.],
       [1., 1., 1.]])

In [41]:
zeros=np.zeros((2,5))

In [42]:
zeros

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [45]:
range_array=np.arange(0,10,1)

In [46]:
range_array

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [53]:
random_array=np.random.randint(0,10,4)

In [54]:
random_array

array([7, 2, 2, 3])

In [71]:
random_array.size

4

In [72]:
random_array.shape

(4,)

In [69]:
np.random.seed(0)
random_array_2=np.random.randint(0,10,size=(3,5))

In [70]:
random_array_2

array([[5, 0, 3, 3, 7],
       [9, 3, 5, 2, 4],
       [7, 6, 8, 8, 1]])

In [73]:
random_array_2.size

15

In [74]:
random_array_2.shape

(3, 5)

In [79]:
random_array_3=np.random.random((5,3))

In [80]:
random_array_3

array([[0.3595079 , 0.43703195, 0.6976312 ],
       [0.06022547, 0.66676672, 0.67063787],
       [0.21038256, 0.1289263 , 0.31542835],
       [0.36371077, 0.57019677, 0.43860151],
       [0.98837384, 0.10204481, 0.20887676]])

In [82]:
random_array_3.dtype

dtype('float64')

## Viewing arrays and matrices

In [83]:
np.unique(random_array_2)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [84]:
a1

array([1, 2, 3])

In [85]:
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [86]:
a3

array([[[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]])

In [87]:
a3[0]

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [109]:
a3=np.array([[[1,2,3],[4,5,6],[7,8,9]],[[10,11,12],[13,14,15],[16,17,18]]])

In [110]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [111]:
a3[:2]

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [112]:
a3[:2,:2,:2]

array([[[ 1,  2],
        [ 4,  5]],

       [[10, 11],
        [13, 14]]])

In [113]:
a3[:1,:2,:2]

array([[[1, 2],
        [4, 5]]])

In [114]:
a3[:2,:1,:2]

array([[[ 1,  2]],

       [[10, 11]]])

In [116]:
a4=np.random.randint(10,size=(2,3,4,5))

In [117]:
a4

array([[[[3, 4, 4, 8, 4],
         [3, 7, 5, 5, 0],
         [1, 5, 9, 3, 0],
         [5, 0, 1, 2, 4]],

        [[2, 0, 3, 2, 0],
         [7, 5, 9, 0, 2],
         [7, 2, 9, 2, 3],
         [3, 2, 3, 4, 1]],

        [[2, 9, 1, 4, 6],
         [8, 2, 3, 0, 0],
         [6, 0, 6, 3, 3],
         [8, 8, 8, 2, 3]]],


       [[[2, 0, 8, 8, 3],
         [8, 2, 8, 4, 3],
         [0, 4, 3, 6, 9],
         [8, 0, 8, 5, 9]],

        [[0, 9, 6, 5, 3],
         [1, 8, 0, 4, 9],
         [6, 5, 7, 8, 8],
         [9, 2, 8, 6, 6]],

        [[9, 1, 6, 8, 8],
         [3, 2, 3, 6, 3],
         [6, 5, 7, 0, 8],
         [4, 6, 5, 8, 2]]]])

In [131]:
a4[:,:,:,:4]

array([[[[3, 4, 4, 8],
         [3, 7, 5, 5],
         [1, 5, 9, 3],
         [5, 0, 1, 2]],

        [[2, 0, 3, 2],
         [7, 5, 9, 0],
         [7, 2, 9, 2],
         [3, 2, 3, 4]],

        [[2, 9, 1, 4],
         [8, 2, 3, 0],
         [6, 0, 6, 3],
         [8, 8, 8, 2]]],


       [[[2, 0, 8, 8],
         [8, 2, 8, 4],
         [0, 4, 3, 6],
         [8, 0, 8, 5]],

        [[0, 9, 6, 5],
         [1, 8, 0, 4],
         [6, 5, 7, 8],
         [9, 2, 8, 6]],

        [[9, 1, 6, 8],
         [3, 2, 3, 6],
         [6, 5, 7, 0],
         [4, 6, 5, 8]]]])